*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build/classes/kotlin/main/BuildType$Companion.class
build/classes/kotlin/main/BuildType$DefaultImpls.class
build/classes/kotlin/main/GradlePluginDependency.class
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values
build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/constants.tab.values.s
build/kotlin/sessions/
build/pluginDescriptors/
